nav{
    background:whitesmoke;
    
}

nav a{
    color: black;
}

.card-no{
    position: absolute;
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;
    font-size: 12px;
    background: black;
    color: white;
    text-align: center;
    top: 0px;
    right: -5px;
}